{
  "openapi": "3.1.0",
  "info": {
    "title": "中造快速开发平台",
    "description": "提供管理后台、用户 App 的所有功能",
    "contact": {
      "url": "http://dashboard.picasso.iocoder.cn",
      "email": "xingyu4j@vip.qq.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://gitee.com/zhijiantianya/ruoyi-vue-pro/blob/master/LICENSE"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://local.zhgcraft.com:15608",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    },
    {
      "Authorization": []
    }
  ],
  "tags": [
    {
      "name": "管理后台 - 云门禁API测试",
      "description": "⚠️ 临时测试接口，测试完成后删除"
    },
    {
      "name": "管理后台 - 门禁回调接口",
      "description": "第三方门禁系统回调接口，无需权限验证"
    }
  ],
  "paths": {
    "/admin-api/warehouse/warehouse/update": {
      "put": {
        "tags": [
          "管理后台 - 仓库管理"
        ],
        "summary": "修改仓库",
        "operationId": "Warehouse_updateWarehouse",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarehouseUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/warehouse/sales-shipment-instruction/update": {
      "put": {
        "tags": [
          "管理后台 - 销售出货指令单"
        ],
        "summary": "修改销售出货指令单",
        "operationId": "SalesShipmentInstruction_updateSalesShipmentInstruction",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesShipmentInstructionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/warehouse/sales-return-instruction/update": {
      "put": {
        "tags": [
          "管理后台 - 销售退货指令单"
        ],
        "summary": "修改销售退货指令单",
        "operationId": "SalesReturnInstruction_updateSalesReturnInstruction",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesReturnInstructionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/warehouse/return-instruction/update": {
      "put": {
        "tags": [
          "管理后台 - 采购退货指令单"
        ],
        "summary": "修改采购退货指令单",
        "operationId": "ReturnInstruction_updateReturnInstruction",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReturnInstructionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/warehouse/receipt-instruction/update": {
      "put": {
        "tags": [
          "管理后台 - 采购收货指令单"
        ],
        "summary": "修改采购收货指令单",
        "operationId": "ReceiptInstruction_updateReceiptInstruction",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptInstructionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/warehouse/production-receipt-instruction/update": {
      "put": {
        "tags": [
          "管理后台 - 生产入库指令单"
        ],
        "summary": "修改生产入库指令单",
        "operationId": "ProductionReceiptInstruction_updateProductionReceiptInstruction",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductionReceiptInstructionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/warehouse/production-material-instruction/update": {
      "put": {
        "tags": [
          "管理后台 - 生产备料指令单"
        ],
        "summary": "修改生产备料指令单",
        "operationId": "ProductionMaterialInstruction_updateProductionMaterialInstruction",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductionMaterialInstructionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/warehouse/outsourced-receipt-instruction/update": {
      "put": {
        "tags": [
          "管理后台 - 委外入库指令单"
        ],
        "summary": "修改委外入库指令单",
        "operationId": "OutsourcedReceiptInstruction_updateOutsourcedReceiptInstruction",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutsourcedReceiptInstructionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/warehouse/outsourced-material-instruction/update": {
      "put": {
        "tags": [
          "仓库管理 - 委外出库指令单"
        ],
        "summary": "更新委外出库指令单",
        "operationId": "OutsourcedMaterialInstruction_updateOutsourcedMaterialInstruction",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutsourcedMaterialInstructionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/update": {
      "put": {
        "tags": [
          "管理后台 - 用户"
        ],
        "summary": "修改用户",
        "operationId": "User_updateUser",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/update-status": {
      "put": {
        "tags": [
          "管理后台 - 用户"
        ],
        "summary": "修改用户状态",
        "operationId": "User_updateUserStatus",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateStatusReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/update-password": {
      "put": {
        "tags": [
          "管理后台 - 用户"
        ],
        "summary": "重置用户密码",
        "operationId": "User_updateUserPassword",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdatePasswordReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/profile/update": {
      "put": {
        "tags": [
          "管理后台 - 用户个人中心"
        ],
        "summary": "修改用户个人信息",
        "operationId": "UserProfile_updateUserProfile",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/profile/update-password": {
      "put": {
        "tags": [
          "管理后台 - 用户个人中心"
        ],
        "summary": "修改用户个人密码",
        "operationId": "UserProfile_updateUserProfilePassword",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdatePasswordReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/tenant/update": {
      "put": {
        "tags": [
          "管理后台 - 租户"
        ],
        "summary": "更新租户",
        "operationId": "Tenant_updateTenant",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/tenant-package/update": {
      "put": {
        "tags": [
          "管理后台 - 租户套餐"
        ],
        "summary": "更新租户套餐",
        "operationId": "TenantPackage_updateTenantPackage",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantPackageSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/social-client/update": {
      "put": {
        "tags": [
          "管理后台 - 社交客户端"
        ],
        "summary": "更新社交客户端",
        "operationId": "SocialClient_updateSocialClient",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialClientSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/sms-template/update": {
      "put": {
        "tags": [
          "管理后台 - 短信模板"
        ],
        "summary": "更新短信模板",
        "operationId": "SmsTemplate_updateSmsTemplate",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsTemplateSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/sms-channel/update": {
      "put": {
        "tags": [
          "管理后台 - 短信渠道"
        ],
        "summary": "更新短信渠道",
        "operationId": "SmsChannel_updateSmsChannel",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsChannelSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/role/update": {
      "put": {
        "tags": [
          "管理后台 - 角色"
        ],
        "summary": "修改角色",
        "operationId": "Role_updateRole",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/post/update": {
      "put": {
        "tags": [
          "管理后台 - 岗位"
        ],
        "summary": "修改岗位",
        "description": "修改岗位信息，包含岗位名称、编码、排序、状态、备注、技术岗位标识、管理岗位标识、核心岗位标识、岗位概述、岗位职责、核定人数等信息",
        "operationId": "Post_updatePost",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/oauth2/user/update": {
      "put": {
        "tags": [
          "管理后台 - OAuth2.0 用户"
        ],
        "summary": "更新用户基本信息",
        "operationId": "OAuth2User_updateUserInfo",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2UserUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/oauth2-client/update": {
      "put": {
        "tags": [
          "管理后台 - OAuth2 客户端"
        ],
        "summary": "更新 OAuth2 客户端",
        "operationId": "OAuth2Client_updateOAuth2Client",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2ClientSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/notify-template/update": {
      "put": {
        "tags": [
          "管理后台 - 站内信模版"
        ],
        "summary": "更新站内信模版",
        "operationId": "NotifyTemplate_updateNotifyTemplate",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyTemplateSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/notify-message/update-read": {
      "put": {
        "tags": [
          "管理后台 - 我的站内信"
        ],
        "summary": "标记站内信为已读",
        "operationId": "NotifyMessage_updateNotifyMessageRead",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "编号列表",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "example": "1024,2048"
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/notify-message/update-all-read": {
      "put": {
        "tags": [
          "管理后台 - 我的站内信"
        ],
        "summary": "标记所有站内信为已读",
        "operationId": "NotifyMessage_updateAllNotifyMessageRead",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/notice/update": {
      "put": {
        "tags": [
          "管理后台 - 通知公告"
        ],
        "summary": "修改通知公告",
        "operationId": "Notice_updateNotice",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoticeSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/menu/update": {
      "put": {
        "tags": [
          "管理后台 - 菜单"
        ],
        "summary": "修改菜单",
        "operationId": "Menu_updateMenu",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuSaveVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/mail-template/update": {
      "put": {
        "tags": [
          "管理后台 - 邮件模版"
        ],
        "summary": "修改邮件模版",
        "operationId": "MailTemplate_updateMailTemplate",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailTemplateSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/mail-account/update": {
      "put": {
        "tags": [
          "管理后台 - 邮箱账号"
        ],
        "summary": "修改邮箱账号",
        "operationId": "MailAccount_updateMailAccount",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailAccountSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/dict-type/update": {
      "put": {
        "tags": [
          "管理后台 - 字典类型"
        ],
        "summary": "修改字典类型",
        "operationId": "DictType_updateDictType",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DictTypeSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/dict-data/update": {
      "put": {
        "tags": [
          "管理后台 - 字典数据"
        ],
        "summary": "修改字典数据",
        "operationId": "DictData_updateDictData",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DictDataSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/dept/update": {
      "put": {
        "tags": [
          "管理后台 - 部门"
        ],
        "summary": "更新部门",
        "operationId": "Dept_updateDept",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeptSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/question/question/update": {
      "put": {
        "tags": [
          "管理后台 - 问题反馈管理"
        ],
        "summary": "更新问题",
        "operationId": "Question_updateQuestion",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/production/process/update": {
      "put": {
        "tags": [
          "管理后台 - 工序"
        ],
        "summary": "更新工序",
        "operationId": "Process_updateProcess",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/production/process-route/update": {
      "put": {
        "tags": [
          "管理后台 - 工艺路线"
        ],
        "summary": "更新工艺路线",
        "operationId": "ProcessRoute_updateProcessRoute",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessRouteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/production/price-config/update": {
      "put": {
        "tags": [
          "管理后台 - 单价配置"
        ],
        "summary": "更新单价配置",
        "operationId": "PriceConfig_updatePriceConfig",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceConfigSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/production/material/update": {
      "put": {
        "tags": [
          "管理后台 - 物料"
        ],
        "summary": "更新物料",
        "operationId": "Material_updateMaterial",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/production/material-type/update": {
      "put": {
        "tags": [
          "管理后台 - 物料类型"
        ],
        "summary": "更新物料类型",
        "operationId": "MaterialType_updateMaterialType",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialTypeSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/production/material-route/update-status": {
      "put": {
        "tags": [
          "管理后台 - 物料-工艺路线配置"
        ],
        "summary": "更新物料-工艺路线状态",
        "operationId": "MaterialRoute_updateMaterialRouteStatus",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/tenant-file-space/update": {
      "put": {
        "tags": [
          "管理后台 - 租户文件存储空间"
        ],
        "summary": "更新租户存储空间限制",
        "operationId": "TenantFileSpace_updateTenantFileSpace",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantFileSpaceUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/job/update": {
      "put": {
        "tags": [
          "管理后台 - 定时任务"
        ],
        "summary": "更新定时任务",
        "operationId": "Job_updateJob",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/job/update-status": {
      "put": {
        "tags": [
          "管理后台 - 定时任务"
        ],
        "summary": "更新定时任务的状态",
        "operationId": "Job_updateJobStatus",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1024
          },
          {
            "name": "status",
            "in": "query",
            "description": "状态",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/job/trigger": {
      "put": {
        "tags": [
          "管理后台 - 定时任务"
        ],
        "summary": "触发定时任务",
        "operationId": "Job_triggerJob",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1024
          },
          {
            "name": "handlerParam",
            "in": "query",
            "description": "处理器参数（可选，用于测试时临时替换任务参数）",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "testParam"
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/file-config/update": {
      "put": {
        "tags": [
          "管理后台 - 文件配置"
        ],
        "summary": "更新文件配置",
        "operationId": "FileConfig_updateFileConfig",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileConfigSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/file-config/update-master": {
      "put": {
        "tags": [
          "管理后台 - 文件配置"
        ],
        "summary": "更新文件配置为 Master",
        "operationId": "FileConfig_updateFileConfigMaster",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/demo03-student-normal/update": {
      "put": {
        "tags": [
          "管理后台 - 学生"
        ],
        "summary": "更新学生",
        "operationId": "Demo03StudentNormal_updateDemo03Student",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Demo03StudentNormalSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/demo03-student-inner/update": {
      "put": {
        "tags": [
          "管理后台 - 学生"
        ],
        "summary": "更新学生",
        "operationId": "Demo03StudentInner_updateDemo03Student",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Demo03StudentInnerSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/demo03-student-erp/update": {
      "put": {
        "tags": [
          "管理后台 - 学生"
        ],
        "summary": "更新学生",
        "operationId": "Demo03StudentErp_updateDemo03Student",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Demo03StudentErpSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/demo03-student-erp/demo03-grade/update": {
      "put": {
        "tags": [
          "管理后台 - 学生"
        ],
        "summary": "更新学生班级",
        "operationId": "Demo03StudentErp_updateDemo03Grade",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Demo03GradeDO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/demo03-student-erp/demo03-course/update": {
      "put": {
        "tags": [
          "管理后台 - 学生"
        ],
        "summary": "更新学生课程",
        "operationId": "Demo03StudentErp_updateDemo03Course",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Demo03CourseDO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/demo02-category/update": {
      "put": {
        "tags": [
          "管理后台 - 示例分类"
        ],
        "summary": "更新示例分类",
        "operationId": "Demo02Category_updateDemo02Category",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Demo02CategorySaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/demo01-contact/update": {
      "put": {
        "tags": [
          "管理后台 - 示例联系人"
        ],
        "summary": "更新示例联系人",
        "operationId": "Demo01Contact_updateDemo01Contact",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Demo01ContactSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/data-source-config/update": {
      "put": {
        "tags": [
          "管理后台 - 数据源配置"
        ],
        "summary": "更新数据源配置",
        "operationId": "DataSourceConfig_updateDataSourceConfig",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceConfigSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/config/update": {
      "put": {
        "tags": [
          "管理后台 - 参数配置"
        ],
        "summary": "修改参数配置",
        "operationId": "Config_updateConfig",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/codegen/update": {
      "put": {
        "tags": [
          "管理后台 - 代码生成器"
        ],
        "summary": "更新数据库的表和字段定义",
        "operationId": "Codegen_updateCodegen",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodegenUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/codegen/sync-from-db": {
      "put": {
        "tags": [
          "管理后台 - 代码生成器"
        ],
        "summary": "基于数据库的表结构，同步数据库的表和字段定义",
        "operationId": "Codegen_syncCodegenFromDB",
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "description": "表编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1024
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/app-version/update": {
      "put": {
        "tags": [
          "管理后台 - APP版本管理"
        ],
        "summary": "更新APP版本",
        "operationId": "AppVersion_updateAppVersion",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppVersionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/api-error-log/update-status": {
      "put": {
        "tags": [
          "管理后台 - API 错误日志"
        ],
        "summary": "更新 API 错误日志的状态",
        "operationId": "ApiErrorLog_updateApiErrorLogProcess",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1024
          },
          {
            "name": "processStatus",
            "in": "query",
            "description": "处理状态",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/team/update": {
      "put": {
        "tags": [
          "管理后台 - 班组管理"
        ],
        "summary": "更新班组",
        "operationId": "Team_updateTeam",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/shift/update": {
      "put": {
        "tags": [
          "管理后台 - 班次管理"
        ],
        "summary": "更新班次",
        "operationId": "Shift_updateShift",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/scheduling/update": {
      "put": {
        "tags": [
          "管理后台 - 排班管理"
        ],
        "summary": "更新排班",
        "operationId": "Scheduling_updateScheduling",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulingSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/reissue-apply/update": {
      "put": {
        "tags": [
          "管理后台 - 补卡申请"
        ],
        "summary": "更新补卡申请",
        "description": "只有未提交的补卡申请才能更新",
        "operationId": "BpmHrReissueApply_updateReissueApply",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BpmHrReissueApplyUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/overtime-setting/update": {
      "put": {
        "tags": [
          "管理后台 - 加班设定"
        ],
        "summary": "更新加班设定",
        "operationId": "OvertimeSetting_updateOvertimeSetting",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OvertimeSettingSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/calendar/update": {
      "put": {
        "tags": [
          "管理后台 - 日历"
        ],
        "summary": "更新日历",
        "operationId": "HrCalendar_updateHrCalendar",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HrCalendarSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/business-apply/update": {
      "put": {
        "tags": [
          "管理后台 - 出差申请"
        ],
        "summary": "更新出差申请",
        "description": "只有未提交的出差申请才能更新",
        "operationId": "BpmHrBusinessApply_updateBusinessApply",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BpmHrBusinessApplyUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/access-control-test/user/edit": {
      "put": {
        "tags": [
          "管理后台 - 云门禁API测试"
        ],
        "summary": "【测试】编辑用户",
        "operationId": "AccessControlTest_editUser",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEditReqDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/hr/access-control-test/device/edit-door": {
      "put": {
        "tags": [
          "管理后台 - 云门禁API测试"
        ],
        "summary": "【测试】编辑门禁",
        "operationId": "AccessControlTest_editDoor",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoorEditReqDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/equipment/repair-order/update": {
      "put": {
        "tags": [
          "管理后台 - 设备维修单"
        ],
        "summary": "更新维修单",
        "operationId": "RepairOrder_updateRepairOrder",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepairOrderUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/equipment/maintenance-plan/update": {
      "put": {
        "tags": [
          "管理后台 - 保养计划"
        ],
        "summary": "更新保养计划",
        "operationId": "MaintenancePlan_updateMaintenancePlan",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenancePlanSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultMaintenancePlanUpdateRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/equipment/maintenance-order/update": {
      "put": {
        "tags": [
          "管理后台 - 设备保养单"
        ],
        "summary": "修改手动新增的未完成保养单",
        "operationId": "MaintenanceOrder_updateMaintenanceOrder",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceOrderUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/equipment/inspection-route/update": {
      "put": {
        "tags": [
          "管理后台 - 巡检路线"
        ],
        "summary": "更新巡检路线",
        "operationId": "InspectionRoute_updateInspectionRoute",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "description": "租户编号"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "default": "Bearer test1",
              "description": "认证 Token"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
[...]
